*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.coustom-width{
    width: 1360px;
    margin:0 auto;
}
.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nevbar img{
    width: 139px;
    height: 60px;
}
.nevbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
.nevbar ul li a{
    text-decoration: none;
    color: black;
}
.nevbar button{
    padding: 12px 16px;
    font-weight: 600;
    width: 164px;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
#early-access{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 99px;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    gap: 6px;
    margin: 0 auto;
}
#early-access img{
    width: 16px;
    height: 16px;
}
#early-access p{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#hero-text{
    text-align: center;
}
#hero-text h1{
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-top: 24px;
    width: 808px;
    height: 168px;
    margin: auto;
    line-height: 84px;
}
#hero-text h1 span{
    color: #30ac66;
}
#hero-text p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
    /* height: 64px; */
    margin: 16px auto;
    line-height: 32px;
}
#hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#hero-buttons1{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: white;
}
#hero-buttons2{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(121, 52, 52, 0);
    border: 1px solid white;
}