*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.coustom-width{
    width: 1360px;
    margin:0 auto;
}
.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nevbar img{
    width: 139px;
    height: 60px;
}
.nevbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
.nevbar ul li a{
    text-decoration: none;
    color: black;
}
.nevbar ul li:hover{
    text-decoration: underline;
    text-decoration-color: #ee2805;
    transition: 0.2s;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
.nevbar button{
    padding: 12px 16px;
    font-weight: 600;
    width: 164px;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.nevbar button:hover{
    box-shadow: 0 8px 20px rgba(70, 145, 101, 0.4);
    transform: translateY(-2px);
}

.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 196px;
}
#early-access{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 99px;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    gap: 6px;
    margin: auto;
}

#early-access img{
    width: 16px;
    height: 16px;
}
#early-access p{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#hero-text{
    text-align: center;
}
#hero-text h1{
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-top: 24px;
    width: 808px;
    height: 168px;
    margin: 16px auto;
    line-height: 84px;
}
#hero-text h1 span{
    color: #30ac66;
}
#hero-text p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
    margin: 0px auto 32px;
    line-height: 32px;
}
#hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#hero-buttons1{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: white;
    cursor: pointer;
}
#hero-buttons2{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(121, 52, 52, 0);
    border: 1px solid white;
    cursor: pointer;
}
#hero-buttons1:hover{
    box-shadow: 0 8px 20px rgba(70, 145, 101, 0.4);
    transform: translateY(-2px);
}
#hero-buttons2:hover{
    box-shadow: 0 8px 20px rgba(170, 168, 168, 0.3);
    transform: translateY(-2px);
}
.notes-section{
    background-color: #fbfbfb;
    padding-top: 100px;
    z-index: 1;
    position: relative;
}

#notes-heading{
    text-align: center;
}
#notes-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: black;
}
#notes-heading p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin: 16px auto 44px auto;
}

#notes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.notes-container-card{
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 70px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
}
.notes-container-card img{
    background-color: #f95555;
    border-radius: 99px;
    padding: 14px;
    width: 60px;
    height: 60px;
}

.notes-container-card h3{
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
}
.notes-container-card p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
}
.solution-section{
    padding: 120px 0;
    margin-top: -70px;
    z-index: 99;
    background-color: white;
    position: relative;
}
.solution-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
#solution-image img{
    border-radius: 12px;
}

#solution-text h3{
    color: rgba(70, 145, 101, 1);
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 16px;
}
#solution-text h2{
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    width: 600px;
}
#solution-text p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    width: 600px;
    margin: 20px auto;
}
#solution-text ul li{
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}
#solution-text ul li{
    list-style-image: url(assets/CheckCircle.png);
}
.cta-container{
    background-color: #f7f6f2;
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 120px;
}
.cta-container h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
}
.cta-container p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    width: 600px;
    margin: 16px auto 24px;
}
.cta-container button{
    background-color: #448d62;
    padding: 12px 16px ;
    border: none;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}