*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.coustom-width{
    width: 1360px;
    margin:0 auto;
}
.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nevbar img{
    width: 139px;
    height: 60px;
}
.nevbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
.nevbar ul li a{
    text-decoration: none;
    color: black;
}
.nevbar button{
    padding: 12px 16px;
    font-weight: 600;
    width: 164px;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}